.ArticleDetails {
  min-height: 100%;
}

.avatar {
  margin: 0 auto;
}

.title {
  margin-top: 20px;
}

.skeleton {
  margin-top: 15px;
}

.avatarWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.articleInfo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.block {
  margin-top: 16px;
}