.app_light_theme  {
    --bg-color: #fff;
    // противоположный цвет
    --inverted-bg-color: #F4F4F4;

    --primary-color: #000000;
    --secondary-color: #d2ab3c;
    --primary-color-link: #000000;
    --secondary-color-link: #000000;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    --code-bg: #ffffff;
}
