.app_pink_theme {
    --bg-color: #FBF4FB;

    // противоположный цвет
    --inverted-bg-color: #eba1f3;
    --primary-color: #f6f;
    --secondary-color: #8E3DFF;
    --primary-color-link: #a36df8;
    --secondary-color-link: #ee26ff;


    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgb(237, 179, 245);

    --code-bg: #fff;

    --listbox-bg: #a36df8;
}