.app_pink_theme {
    --bg-color: #FBF4FB;

    // противоположный цвет
    --inverted-bg-color: #eba1f3;
    --primary-color: #f6f;
    --secondary-color: #8E3DFF;
    --primary-color-link: #a36df8;
    --secondary-color-link: #5454ff;
}